@inherits LayoutComponentBase
@* @implements IDisposable *@
@inject ICartService cartService
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager
<div class="page d-flex">
    <main>
        <NavBar/>
        <article class="content px-4 container-fluid">
            @Body
        </article>
        <Footer/>
    </main>
</div>
