@page "/manage-categories"
@inject ICategoryService categoryService
@inject IJSRuntime JS
@inject NavigationManager navigationManager

@if (serviceModel.List != null)
{
    <div class="row">
        <div class="row sticky-top mb-1">
            <div class="col-md-8 mt-1"><h3 class="text-muted" style="font-family:'Javanese Text'">Manage Categories</h3></div>
        </div>
        <a href="/add-category">Add</a>
        <hr />
        <table class="table">
            <thead class="bg-primary text-white fw-bold">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in serviceModel.List)
                {
                    <tr>
                        @* <td><img src="@item.Image" class="card-img-top rounded-pill" style="width:150px; height:100px;" /></td> *@
                        @* <td><img src="@category.Image" class="card-img-top " style="width:150px; height:100px;" /></td> *@
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <button @onclick="(()=> HandleUpdate(category.Id))" class="btn btn-none"><span class="oi oi-pencil text-info"></span></button>
                        </td>
                        <td>
                            <button @onclick="(async ()=> await HandleDelete(category.Id, category.Name!))" class="btn btn-none"><span class="oi oi-trash text-danger"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 mb-5">
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-danger" role="status" style="width: 5rem; height: 5rem;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    string Message = string.Empty;
    string CssClass = string.Empty;
    public ServiceModel<Category> serviceModel = new ServiceModel<Category>();

    protected override async Task OnInitializedAsync() => await GetCategories();

    private async Task GetCategories() => serviceModel = await categoryService.GetCategories();

    private async Task HandleDelete(int id, string name)
    {
        bool confirm = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {name} ?");
        if (confirm)
        {
            var category = await categoryService.DeleteCategory(id);
            await JS.InvokeVoidAsync("alert", $"{name} deleted from the list");
            serviceModel.List = category.List;
        }
        else
        {
            return;
        }
    }

    private void HandleUpdate(int id)
    {
        navigationManager.NavigateTo($"update-category/{id}");
    }
}